{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block body %}
       <div class="page-title">
            <div class="title_left">
                <h3>Customer</h3>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="">
                            <ul class="list-inline pull-right controls">
                                <li>
                                    {% if request.user.is_staff %}
                                    <a class="btn btn-primary download-excel" href="{% url 'add_customer' %}"> <i class="fa fa-plus"></i> Add New Customer</a>
                                    {% endif %}
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="box-header" >
                                {% if messages %}
                                  <ul>
                                    {% for message in messages %}
                                      <li class="alert alert-success">{{ message }}</li>
                                    {% endfor %}
                                  </ul>
                                {% endif %}
                        </div>
                        <div class="x_content">
                            <br />
                            <div class="table-responsive">
                                <table id="surveys_table" class="cell-border hover row-border order-column">
                                    <thead>
                                    <tr>
                                      <th class="sorting">Customer Name</th>
                                      <th class="sorting">Status</th>
                                      <th class="no-sort">Action</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for customer in customer_list %}
                                      <tr class="customer" id="{{ customer.id }}" >
                                          <td>{{ customer.name }}</td>
                                          <td>{{ customer.status }}</td>
                                        <td>
                                         {% if request.user.is_staff %}
                                          <a class="fa fa-pencil-square-o" href="{% url 'update_customer' customer.id %}" style="padding-left:50px;"></a>
                                          <a class="fa fa-times client_delete_icon" href="{% url 'delete_customer' customer.id %}" obj_name='' style="padding-left:50px;"></a>
                                         {% endif %}
                                        </td>
                                      </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% if is_paginated %}
                                  <!--<ul class="pagination" style="float:right;">-->
                                    <!--{% if page_obj.has_previous %}-->
                                      <!--<li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>-->
                                    <!--{% else %}-->
                                      <!--<li class="disabled"><span>&laquo;</span></li>-->
                                    <!--{% endif %}-->
                                    <!--{% for i in paginator.page_range %}-->
                                      <!--{% if page_obj.number == i %}-->
                                        <!--<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>-->
                                      <!--{% endif %}-->
                                    <!--{% endfor %}-->
                                    <!--{% if page_obj.has_next %}-->
                                      <!--<li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>-->
                                    <!--{% else %}-->
                                      <!--<li class="disabled"><span>&raquo;</span></li>-->
                                    <!--{% endif %}-->
                                  <!--</ul>-->
                                  <div style="float:right;">
                                    <input type="text" id="page_id" placeholder='Page No' size="4"><button id="go_btn">GO</button>
                                  </div><br>
                                    <b>Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} entries {{ page_obj }}</b>
                               {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block static %}
<script>
  $(document).ready(function(){
  $('#surveys_table').DataTable({
    "paging": false,
  });
    $('#surveys_table_info').empty();
   $(".survey").on('click', function(){
    var survey_id = $(this).attr('id');
    window.location.href = '/cms/'+survey_id+'/edit/';
  });
  $("#go_btn").on('click', function(){
    var page_id = $('#page_id').val();
    window.location.href = '/cms/customer/?page='+page_id;
  });

  });
</script>
{% endblock %}