{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block body %}
<div class="page-title">
    <div class="title_left">
        <h3><b>Customer Summary Report</b></h3>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
               <div class="x_panel">
                <div class="x_content">
                    <br />
                    <section class="content">
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="">
                            <div class="box-header">
                              {% if messages %}
                                <ul class="messages alert alert-danger">
                                  {% for message in messages %}
                                    {{ message }}
                                  {% endfor %}
                                </ul>
                              {% endif %}
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">

                                               <!--{% for field in form.visible_fields %}-->
                                 <!--<div class="form-row">-->
                                  <!--<div class="form-group col-md-6">-->
                                    <!--{{ field.label_tag }}-->
                                      <!--<span style="color:red;">{{ field.errors }}</span>-->
                                      <!--{{ field }}-->
                                      <!--{{ field.help_text }}-->
                                  <!--</div>-->
                                <!--{% endfor %}-->

                                     <div class="form-row">
                              <div class="form-group col-md-4">
                                  {{ form.commodity.label_tag }}
                                  <span style="color:red;">{{ form.commodity.errors }}</span>
                                  {{ form.commodity }}
                                  {{ form.commodity.help_text }}
                              </div>
                             </div>
                                     <div class="form-row">
                              <div class="form-group col-md-4">
                                  {{ form.term.label_tag }} (In months)
                                  <span style="color:red;">{{ form.term.errors }}</span>
                                  <input name="term" value="All" min="0" id="id_term" required="" list="list_terms" class="form-control">
                                    <datalist id="list_terms">
                                      <option value="All">
                                      <option value="6">
                                      <option value="12">
                                      <option value="18">
                                      <option value="24">
                                      <option value="36">
                                    </datalist>
                                  {{ form.term.help_text }}
                              </div>
                             </div>
                                <div class="form-row">
                              <div class="form-group col-md-4">
                                  {{ form.price_type.label_tag }}
                                  <span style="color:red;">{{ form.price_type.errors }}</span>
                                  {{ form.price_type }}
                                  {{ form.price_type.help_text }}
                              </div>
                              <div class="form-row">
                              <div class="form-group col-md-4">
                                  {{ form.utility_type.label_tag }}
                                <span style="color:red;">{{ form.price_type.errors }}</span>
                                  {{ form.utility_type }}
                                  {{ form.utility_type.help_text }}
                              </div>
                             </div>
                                         <div class="form-row">
                              <div class="form-group col-md-4">
                                  {{ form.account_type.label_tag }}
                                  <span style="color:red;">{{ form.account_type.errors }}</span>
                                  {{ form.account_type }}
                                  {{ form.account_type.help_text }}
                              </div>
                             </div>
                             <div class="form-row">
                              <div class="form-group col-md-4">
                                  {{ form.customer_type.label_tag }}
                                  <span style="color:red;">{{ form.customer_type.errors }}</span>
                                  {{ form.customer_type }}
                                  {{ form.customer_type.help_text }}
                              </div>
                              </div>

                                  <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                                      <button class="btn btn-primary" type="reset">Reset</button>
                                      <input name="submit_btn" type="submit" class="btn btn-success"/>
                                    </div>
                                  </div>
                               </div>
                            </div>
                            <!-- /.box-body -->
                          </div>
                          <!-- /.box -->
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->
                    </section>
                </div>
<br>
         <div class="search_form">
            <table id="report_table" class="table table-bordered">
                <thead>
                <tr>
                    <th class="no-sort">Customer Name</th>
                    <th class="no-sort">Customer Type</th>
                    <th class="no-sort">Annual Usage</th>
                    <th class="no-sort">Commodity</th>
                    <th class="no-sort">Price Type</th>
                    <th class="no-sort">Price</th>
                    <th class="no-sort">Term</th>
                    <th class="no-sort">Utility</th>
                    <th class="no-sort">Account Type</th>
                    <th class="no-sort">Billing Type</th>
                </tr>
                </thead>
                <tbody>
                  {% if result %}
                {% for r in result %}
                  <tr>
                      <td>{{ r.customer.name }}</td>
                      <td>{{ r.customer_type.name }}</td>
                      <td>0</td>
                      <td>{% if r.electric == 'Yes' %}electric<br>{% endif %}
                          {% if r.commodity_gas == 'Yes' %}gas{% endif %}
                      </td>
                      <td>{% if r.electric == 'Yes' %}electric- {{ r.electric_price_type }}<br>{% endif %}
                          {% if r.commodity_gas == 'Yes' %}gas- {{ r.gas_price_plan }}{% endif %}
                      </td>
                      <td>{% if r.electric == 'Yes' and r.electric_price_type == 'Fixed' %}electric- {{ r.electric_fixed_rate }}<br>{% endif %}
                          {% if r.electric == 'Yes' and r.electric_price_type == 'Index' %}electric- {{ r.electric_index_rate }}<br>{% endif %}
                          {% if r.commodity_gas == 'Yes' and r.gas_price_plan == 'Fixed' %}gas- {{ r.gas_fixed_rate }}<br>{% endif %}
                          {% if r.commodity_gas == 'Yes' and r.gas_price_plan == 'Index' %}gas- {{ r.gas_index_rate }}{% endif %}
                      </td>
                      <td>{{ r.agreement_length }}</td>
                      <td>{% if r.electric == 'Yes' %}electric- {{ r.electric_utility }}<br>{% endif %}
                          {% if r.commodity_gas == 'Yes' %}gas- {{ r.gas_utility }}{% endif %}
                      </td>
                      <td>{{ r.account_type }}</td>
                      <td>{{ r.billing }}</td>
                  </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
                                   {% if is_paginated %}
                                  <!--<ul class="pagination" style="float:right;">-->
                                    <!--{% if page_obj.has_previous %}-->
                                      <!--<li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>-->
                                    <!--{% else %}-->
                                      <!--<li class="disabled"><span>&laquo;</span></li>-->
                                    <!--{% endif %}-->
                                    <!--{% for i in paginator.page_range %}-->
                                      <!--{% if page_obj.number == i %}-->
                                        <!--<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>-->
                                      <!--{% endif %}-->
                                    <!--{% endfor %}-->
                                    <!--{% if page_obj.has_next %}-->
                                      <!--<li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>-->
                                    <!--{% else %}-->
                                      <!--<li class="disabled"><span>&raquo;</span></li>-->
                                    <!--{% endif %}-->
                                  <!--</ul>-->
                                  <div style="float:right;">
                                    <input type="text" id="page_id" placeholder='Page No' size="4"><button id="go_btn">GO</button>
                                  </div><br>
                                    <b>Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} entries {{ page_obj }}</b>
                               {% endif %}
             {% if result %}
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
              <button class="btn btn-primary" type="submit" name="export_btn">Export Report</button>
            </div>
             {% endif %}
                 </div>
               </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block static %}
<script>
  $(document).ready(function(){
  $('#report_table').DataTable({
    "paging": false
   });
  $("#id_commodity").addClass( "form-control" );
  $("#id_price_type").addClass( "form-control" );
  $("#id_term").addClass( "form-control" );
  $("#id_utility_type").addClass( "form-control" );
  $("#id_customer_type").addClass( "form-control" );
  $("#id_account_type").addClass( "form-control" );

    });
  $("#go_btn").on('click', function(){
    var page_id = $('#page_id').val();
    window.location.href = '/cms/report/customer/?page='+page_id;
  });
</script>
<style>
 label
{
    padding-left: 20px;
}
#id_submit_btn{
    margin-left: 10px;
}
.search_form{
width: 100%;
padding: 10px 17px;
display: inline-block;
background: #fff;
-webkit-column-break-inside: avoid;
-moz-column-break-inside: avoid;
column-break-inside: avoid;
opacity: 1;
transition: all .2s ease;
}
</style>
{% endblock %}