{% load static %}
<html>
  <head>
    <style>
       td,th {
         text-align: center;
       }
       .cell-border{
         border: 1px solid black;
         padding: 1px 1px 1px 1px;
        }
        .heading-space{
         padding-left: 1px;
        }
    </style>
  </head>
  <body>
     <div style="text-align: center;"><h2>LDC Summary Report</h2></div>
      <table id="report_table" class="cell-border">
            <thead>
            <tr>
                    <th class="no-sort">Group by Utility</th>
                    <th class="no-sort">Commodity</th>
                    <th class="no-sort">Group by Price Type</th>
                    <th class="no-sort">Number Of Customers</th>
                    <th class="no-sort">Sum(Annual)</th>
                    <th class="no-sort">Min Price</th>
                    <th class="no-sort">Max Price</th>
                    <th class="no-sort">Total(Price Type)</th>
                    <th class="no-sort">Average of Term</th>
            </tr>
            </thead>
            <tbody>
                {% if result %}
                {% for r in result %}
                  <tr>
                      <td>{% if r.electric == 'Yes' %}{{ r.electric_utility__name }}{% else %}{{ r.gas_utility__name }}{% endif %}</td>
                      <td>{% if r.electric == 'Yes' %}Electric{% else %}Gas{% endif %}</td>
                      <td>{% if r.electric == 'Yes' %}{{ r.electric_price_type }}{% else %}{{ r.gas_price_plan }}{% endif %}</td>
                      <td>{{ r.count_customer }}</td>
                      <td>0</td>
                      <td>{{ r.min_fix }}</td>
                      <td>{{ r.max_fix }}</td>
                      <td>{{ r.sum_fix }}</td>
                      <td>{{ r.avg_term }}</td>
                  </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
  </body>
</html>
