{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block body %}
       <div class="page-title">
            <div class="title_left">
                <h3>Survey</h3>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="">
                            <ul class="list-inline pull-right controls">
                                <li>
                                    <a class="btn btn-primary download-excel" href="{% url 'add_survey' %}"> <i class="fa fa-plus"></i> Add New Survey</a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="box-header" >
                                {% if messages %}
                                  <ul>
                                    {% for message in messages %}
                                      <li class="alert alert-success">{{ message }}</li>
                                    {% endfor %}
                                  </ul>
                                {% endif %}
                        </div>
                        <div class="x_content">
                            <br />
                            <div class="table-responsive">
                                <table id="surveys_table" class="cell-border hover row-border order-column">
                                    <thead>
                                    <tr>
                                      <th>Survey Completed By</th>
                                      <th>Customer Name</th>
                                      <th>Salesperson Name</th>
                                      <th>Created At</th>
                                      <th class="no-sort">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for survey in survey_list %}
                                      <tr>
                                        <td>{{ survey.survey_completed_by }}</td>
                                        <td>{{ survey.customer_name }}</td>
                                        <td>{{ survey.salesperson_name }}</td>
                                        <td>{{ survey.created_at }}</td>
                                        <td>
                                          <a class="fa fa-pencil-square-o" href="{% url 'update_survey' survey.id %}"></a>
                                          <a class="fa fa-times client_delete_icon" href="{% url 'delete_survey' survey.id %}" obj_name='' style="padding-left:50px;"></a>
                                        </td>
                                      </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block static %}
<script>
  $(document).ready(function(){
  $('#surveys_table').DataTable();
  });
</script>
{% endblock %}