{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block body %}
<div class="page-title">
    <div class="title_left">
        <h3>{% if form.instance.id %}Edit {% else %}Add New {% endif %}Contract</h3>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <br />
                    <section class="content">
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="">
                            <div class="box-header">
                              {% if messages %}
                                <ul class="messages alert alert-danger">
                                  {% for message in messages %}
                                    {{ message }}
                                  {% endfor %}
                                </ul>
                              {% endif %}
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <form method="post" enctype="multipart/form-data">
                                   {% csrf_token %}
                              {% for hidden_field in form.hidden_fields %}
                                {{ hidden_field.errors }}
                                {{ hidden_field }}
                              {% endfor %}
                        <fieldset>
                         <div class="form-row">
                          <div class="form-group col-md-6">
                              1.  {{ form.survey_completed_by.label_tag }}
                              <span style="color:red;">{{ form.survey_completed_by.errors }}</span>
                              {{ form.survey_completed_by }}
                              {{ form.survey_completed_by.help_text }}
                          </div>
                         </div>
                                        </fieldset>
                          <fieldset style="border: 1px;">
                              <legend style="background-color:#867c7c;"><h3 style="color:white; padding-left:15px;">Contract Information</h3></legend>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    2. <label for="id_account_type_0">Account type:</label> <span style="color:red;">*</span>

                                      <label for="id_account_type_0"><input type="radio" name="account_type" value="New Customer" required id="id_account_type_0" {% if form.instance.id and form.instance.account_type == "New Customer" or not form.instance.id %}checked{% endif %}>
                                              New Customer</label>

                                      <label for="id_account_type_1" style="padding-left:5px;"><input type="radio" name="account_type" value="Renewal" required id="id_account_type_1" {% if form.instance.id and form.instance.account_type == "Renewal" %}checked{% endif %}>Renewal</label>
                                  </div>
                                 </div>
                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                      3. {{ form.agreement_date.label_tag }}
                                      <span style="color:red;">{{ form.agreement_date.errors }}</span>
                                      {{ form.agreement_date }}
                                      {{ form.agreement_date.help_text }}
                                   </div>
                                </div>
                          </fieldset>
                             <br>
                          <fieldset>
                              <legend style="background-color:#867c7c;"><h3 style="color:white; padding-left:15px;">Customer & Billing Information</h3></legend>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    4. {{ form.customer_description.label_tag }}
                                      <span style="color:red;">{{ form.customer_description.errors }}</span>
                                      {{ form.customer_description }}
                                      {{ form.customer_description.help_text }}
                                  </div>
                                 </div>
                               <div class="form-row">
                                  <div class="form-group col-md-6">
                                    5. {{ form.customer.label_tag }} <span style="color:red;">*</span>
                                      <span style="color:red;">{{ form.customer.errors }}</span>
                                      {{ form.customer }}
                                      {{ form.customer.help_text }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    6. {{ form.salesperson_name.label_tag }} <span style="color:red;">*</span>
                                      <span style="color:red;">{{ form.salesperson_name.errors }}</span>
                                      {{ form.salesperson_name }}
                                      {{ form.salesperson_name.help_text }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                      7. <label>Service Address:</label> <span style="color:red;">*</span>
                                      <span style="color:red;">{{ form.service_address.errors }}</span>
                                      <p>{{ form.service_address_line1 }}</p>
                                      <p>{{ form.service_address_line2 }}</p>
                                      <p>{{ form.service_address_city }}</p>
                                      <p>{{ form.service_address_state }}</p>
                                      <p>{{ form.service_address_country }}</p>
                                      <p>{{ form.service_address_zip_code }}</p>
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                      8. <label>Billing Address</label> <span style="color:red;">*</span>  <input type="checkbox" name="sameas" id="check-address" /> Same as service address
                                      <span style="color:red;">{{ form.billing_address.errors }}</span>
                                      <p>{{ form.billing_address_line1 }}</p>
                                      <p>{{ form.billing_address_line2 }}</p>
                                      <p>{{ form.billing_address_city }}</p>
                                      <p>{{ form.billing_address_state }}</p>
                                      <p>{{ form.billing_address_country }}</p>
                                      <p>{{ form.billing_address_zip_code }}</p>
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    9. {{ form.customer_phone.label_tag }}
                                      <span style="color:red;">{{ form.customer_phone.errors }}</span>
                                      {{ form.customer_phone }}
                                      {{ form.customer_phone.help_text }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    10. {{ form.customer_email.label_tag }}
                                      <span style="color:red;">{{ form.customer_email.errors }}</span>
                                      {{ form.customer_email }}
                                      {{ form.customer_email.help_text }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                     11. {{ form.sbc.label_tag }}
                                      <span style="color:red;">{{ form.sbc.errors }}</span>
                                      {{ form.sbc }}
                                      {{ form.sbc.help_text }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    12. {{ form.customer_type.label_tag }} <span style="color:red;">*</span>
                                      <span style="color:red;">{{ form.customer_type.errors }}</span>
                                      {{ form.customer_type }}
                                      {{ form.customer_type.help_text }}
                                  </div>
                                 </div>

                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                     13. <label for="id_billing_0">Billing:</label> <span style="color:red;">*</span>
                                       <label for="id_billing_0"><input type="radio" name="billing" value="POR" required id="id_billing_0" {% if form.instance.id and form.instance.billing == "POR" or not form.instance.id %}checked{% endif %}>
                                     POR</label>

                                    <label for="id_billing_1" style="padding-left:5px;"><input type="radio" name="billing" value="DUAL" required id="id_billing_1" {% if form.instance.id and form.instance.billing == "DUAL" %}checked{% endif %}>
                                     DUAL</label>
                                  </div>
                                 </div>


                                 <div class="form-row">
                                  <div class="form-group col-md-4">
                                     14.  <label for="id_door_to_door_0">Door To Door:</label> <span style="color:red;">*</span>

                                          <label for="id_door_to_door_0"><input type="radio" name="door_to_door" value="Yes" required id="id_door_to_door_0" {% if form.instance.id and form.instance.door_to_door == "Yes" %}checked{% endif %}>
                                         Yes</label>

                                        <label for="id_door_to_door_1"><input type="radio" name="door_to_door" value="No" required id="id_door_to_door_1" {% if form.instance.id and form.instance.door_to_door == "No" or not form.instance.id %}checked{% endif %}>
                                         No</label>
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    15. {{ form.billing_contact.label_tag }}
                                      <span style="color:red;">{{ form.billing_contact.errors }}</span>
                                      {{ form.billing_contact }}
                                      {{ form.billing_contact.help_text }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-4">
                                     16. <label for="id_billing_method_0">Billing Method:</label> <span style="color:red;">*</span>

                                          <label for="id_billing_method_0"><input type="radio" name="billing_method" value="Mail" required id="id_billing_method_0" {% if form.instance.id and form.instance.billing_method == "Mail" or not form.instance.id %}checked{% endif %}>
                                         Mail</label>

                                        <label for="id_billing_method_1"><input type="radio" name="billing_method" value="Email" required id="id_billing_method_1" {% if form.instance.id and form.instance.billing_method == "Email" %}checked{% endif %}>
                                         Email</label>
                                  </div>
                                 </div>
                          </fieldset>
                          <br>
                          <fieldset>
                              <legend style="background-color:#867c7c;"><h3 style="color:white; padding-left:15px;">Pricing & Utility Information</h3></legend>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    17. {{ form.utility_description.label_tag }}
                                      <span style="color:red;">{{ form.utility_description.errors }}</span>
                                      {{ form.utility_description }}
                                      {{ form.utility_description.help_text }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    18. {{ form.utility_pool.label_tag }} <span style="color:red;">*</span>
                                      <span style="color:red;">{{ form.utility_pool.errors }}</span>
                                      {{ form.utility_pool }}
                                      {{ form.utility_pool.help_text }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    19. {{ form.electric_rate_class.label_tag }} <span style="color:red;">*</span>
                                      <span style="color:red;">{{ form.electric_rate_class.errors }}</span>
                                      {{ form.electric_rate_class }}
                                      {{ form.electric_rate_class.help_text }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    20. {{ form.gas_rate_class.label_tag }} <span style="color:red;">*</span>
                                      <span style="color:red;">{{ form.gas_rate_class.errors }}</span>
                                      {{ form.gas_rate_class }}
                                      {{ form.gas_rate_class.help_text }}
                                  </div>
                                 </div>

                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    21. {{ form.electric_utility.label_tag }} <span style="color:red;">*</span>
                                      <span style="color:red;">{{ form.electric_utility.errors }}</span>
                                      {{ form.electric_utility }}
                                      {{ form.electric_utility.help_text }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    22. {{ form.gas_utility.label_tag }} <span style="color:red;">*</span>
                                      <span style="color:red;">{{ form.gas_utility.errors }}</span>
                                      {{ form.gas_utility }}
                                      {{ form.gas_utility.help_text }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    23. {{ form.utility_account_type.label_tag }}
                                      <span style="color:red;">{{ form.utility_account_type.errors }}</span>
                                      {{ form.utility_account_type }}
                                      {{ form.utility_account_type.help_text }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    24. {{ form.utility_account_nos.label_tag }}
                                      <span style="color:red;">{{ form.utility_account_nos.errors }}</span>
                                      {{ form.utility_account_nos }}
                                      {{ form.utility_account_nos.help_text }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    25. {{ form.passthru.label_tag }} <span style="color:red;">*</span>
                                      <span style="color:red;">{{ form.passthru.errors }}</span>
                                      {{ form.passthru }}
                                      {{ form.passthru.help_text }}
                                  </div>
                                 </div>
                          </fieldset>
                           <br>
                          <fieldset class="form-group col-md-4">
                              <legend style="background-color:#867c7c;"><h3 style="color:white; padding-left:15px;">Gas Information</h3></legend>
                                 <div class="form-row">
                                  <div class="form-group">
                                    26. <label for="id_commodity_gas_0">Commodity Gas:</label> <span style="color:red;">*</span>
                                    <label for="id_commodity_gas_0"><input type="radio" name="commodity_gas" value="Yes" required id="id_commodity_gas_0" {% if form.instance.id and form.instance.commodity_gas == "Yes"%}checked{% endif %}>
                                     Yes</label>

                                    <label for="id_commodity_gas_1"><input type="radio" name="commodity_gas" value="No" required id="id_commodity_gas_1" {% if form.instance.id and form.instance.commodity_gas == "No" or not form.instance.id  %}checked{% endif %}>
                                     No</label>
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group">
                                    27. {{ form.delivery_type.label_tag }}
                                      <span style="color:red;">{{ form.delivery_type.errors }}</span>
                                      {{ form.delivery_type }}
                                      {{ form.delivery_type.help_text }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group">
                                    28. {{ form.gas_price_plan.label_tag }}
                                      <span style="color:red;">{{ form.gas_price_plan.errors }}</span>
                                      {{ form.gas_price_plan }}
                                      {{ form.gas_price_plan.help_text }}
                                  </div>
                                 </div>
                          </fieldset>
                          <fieldset>
                              <legend style="background-color:#867c7c;"><h3 style="color:white; padding-left:15px;">Electric Information</h3></legend>

                                 <div class="form-row col-md-6">
                                  <div class="form-group">
                                    29. <label for="id_electric_0">Electric:</label> <span style="color:red;">*</span>
                                    <label for="id_electric_0"><input type="radio" name="electric" value="Yes" required id="id_electric_0" {% if form.instance.id and form.instance.electric == "Yes"%}checked{% endif %}>
                                     Yes</label>
                                    <label for="id_electric_1"><input type="radio" name="electric" value="No" required id="id_electric_1" {% if form.instance.id and form.instance.electric == "No" or not form.instance.id  %}checked{% endif %}>
                                     No</label>
                                  </div>
                                 </div>
                                 <div class="form-row col-md-6">
                                  <div class="form-group">
                                    30. {{ form.green.label_tag }}
                                      <span style="color:red;">{{ form.green.errors }}</span>
                                      {{ form.green }}
                                      {{ form.green.help_text }}
                                  </div>
                                 </div>
                                 <div class="form-row col-md-6">
                                  <div class="form-group">
                                    31. {{ form.zone.label_tag }}
                                      <span style="color:red;">{{ form.zone.errors }}</span>
                                      {{ form.zone }}
                                      {{ form.zone.help_text }}
                                  </div>
                                 </div>
                                 <div class="form-row col-md-6">
                                  <div class="form-group">
                                    32. {{ form.electric_price_type.label_tag }}
                                      <span style="color:red;">{{ form.electric_price_type.errors }}</span>
                                      {{ form.electric_price_type }}
                                      {{ form.electric_price_type.help_text }}
                                  </div>
                                 </div>
                          </fieldset>
                           <br>
                          <fieldset>
                              <legend style="background-color:#867c7c;"><h3 style="color:white; padding-left:15px;">Commodity Billing Information</h3></legend>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                     33. <label for="id_therm_0">Therm:</label> <span style="color:red;">*</span>

                                     <label for="id_therm_0"><input type="radio" name="therm" value="Yes" required id="id_therm_0" {% if form.instance.id and form.instance.therm == "Yes" %}checked{% endif %}>
                                     Yes</label>

                                    <label for="id_therm_1"><input type="radio" name="therm" value="No" required id="id_therm_1" {% if form.instance.id and form.instance.therm == "No" or not form.instance.id  %}checked{% endif %}>
                                     No</label>
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    34. <label for="id_tax_exempt_0">Tax Exempt:</label> <span style="color:red;">*</span>
                                    <label for="id_tax_exempt_0"><input type="radio" name="tax_exempt" value="Yes" required id="id_tax_exempt_0" {% if form.instance.id and form.instance.tax_exempt == "Yes" %}checked{% endif %}>
                                     Yes</label>
                                    <label for="id_tax_exempt_1"><input type="radio" name="tax_exempt" value="No" required id="id_tax_exempt_1" {% if form.instance.id and form.instance.tax_exempt == "No" or not form.instance.id  %}checked{% endif %}>
                                     No</label>
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    35. <label for="id_monthly_budget_0">Monthly Budget:</label> <span style="color:red;">*</span>
                                    <label for="id_monthly_budget_0"><input type="radio" name="monthly_budget" value="Yes" required id="id_monthly_budget_0" {% if form.instance.id and form.instance.monthly_budget == "Yes" %}checked{% endif %}>
                                     Yes</label>
                                    <label for="id_monthly_budget_1"><input type="radio" name="monthly_budget" value="No" required id="id_monthly_budget_1" {% if form.instance.id and form.instance.monthly_budget == "No" or not form.instance.id  %}checked{% endif %}>
                                     No</label>
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    36. {{ form.budget_amount.label_tag }}
                                      <span style="color:red;">{{ form.budget_amount.errors }}</span>
                                      {{ form.budget_amount }}
                                      {{ form.budget_amount.help_text }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    37. {{ form.gas_bandwidth_usage.label_tag }} <span style="color:red;">*</span>
                                      <span style="color:red;">{{ form.gas_bandwidth_usage.errors }}</span>
                                      {{ form.gas_bandwidth_usage }}
                                      {{ form.gas_bandwidth_usage.help_text }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    38. {{ form.electric_bandwidth_usage.label_tag }} <span style="color:red;">*</span>
                                      <span style="color:red;">{{ form.electric_bandwidth_usage.errors }}</span>
                                      {{ form.electric_bandwidth_usage }}
                                      {{ form.electric_bandwidth_usage.help_text }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    39. {{ form.gas_fixed_rate.label_tag }} <span style="color:red;">*</span>
                                      <span style="color:red;">{{ form.gas_fixed_rate.errors }}</span>
                                      {{ form.gas_fixed_rate }}
                                      {{ form.gas_fixed_rate.help_text }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    40. {{ form.electric_fixed_rate.label_tag }} <span style="color:red;">*</span>
                                      <span style="color:red;">{{ form.electric_fixed_rate.errors }}</span>
                                      {{ form.electric_fixed_rate }}
                                      {{ form.electric_fixed_rate.help_text }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    41. {{ form.gas_index_rate.label_tag }} <span style="color:red;">*</span>
                                      <span style="color:red;">{{ form.gas_index_rate.errors }}</span>
                                      {{ form.gas_index_rate }}
                                      {{ form.gas_index_rate.help_text }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    42. {{ form.electric_index_rate.label_tag }} <span style="color:red;">*</span>
                                      <span style="color:red;">{{ form.electric_index_rate.errors }}</span>
                                      {{ form.electric_index_rate }}
                                      {{ form.electric_index_rate.help_text }}
                                  </div>
                                 </div>

                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    43. {{ form.agreement_length.label_tag }}
                                      <span style="color:red;">{{ form.agreement_length.errors }}</span>
                                      {{ form.agreement_length }}
                                      {{ form.agreement_length.help_text }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    44. {{ form.contract_start_date.label_tag }}
                                      <span style="color:red;">{{ form.contract_start_date.errors }}</span>
                                      {{ form.contract_start_date }}
                                      {{ form.contract_start_date.help_text }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                      45. <label>Documents (Max limit- 3 docs)</label>
                                    <div class="table-responsive">
                                        <table class="table docs_table">
                                            {{ docs.management_form }}

                                            {% for form in docs.forms %}
                                                <!--{% if forloop.first %}-->
                                                    <!--<thead>-->
                                                    <!--<tr>-->
                                                        <!--{% for field in form.visible_fields %}-->
                                                            <!--<th>{{ field.label|capfirst }}</th>-->
                                                        <!--{% endfor %}-->
                                                    <!--</tr>-->
                                                    <!--</thead>-->
                                                <!--{% endif %}-->
                                                <tr class="{% cycle row1 row2 %} formset_row">
                                                    {% for field in form.visible_fields %}
                                                        <td>
                                                            {# Include the hidden fields in the form #}
                                                            {% if forloop.first %}
                                                                {% for hidden in form.hidden_fields %}
                                                                    {{ hidden }}
                                                                {% endfor %}
                                                            {% endif %}
                                                            <br>
                                                            {{ field.errors.as_ul }}
                                                            {{ field }}

                                                        </td>
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                        </table>
                                  </div>
                                 </div>
                                 </div>
                          </fieldset>
                                <!--<div class="ln_solid"></div>-->
                              <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                  <a href="{% url 'list_surveys' %}" class='btn btn-primary' >Cancel</a>
                                  <button class="btn btn-primary" type="reset">Reset</button>
                                  <input type="submit" class="btn btn-success"/>
                                </div>
                              </div>
                                </form>
                            </div>
                            <!-- /.box-body -->
                          </div>
                          <!-- /.box -->
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script>
<script>
  $(document).ready(function(){
   $("#id_survey_completed_by").addClass( "form-control" );
   $("#id_agreement_date").addClass( "form-control" );
   $('#id_agreement_date').datepicker({'dateFormat': 'mm/dd/yy',
       'maxDate': 3650,
       changeMonth: true,
       changeYear: true,
       });
   $("#id_customer").addClass( "form-control" );
       <!--var availableCustomers = [-->
     <!--{% for cust in customers %}-->
          <!--"{{cust}}",-->
      <!--{%endfor%}-->
      <!--];-->
   <!--$("#id_customer").autocomplete({});-->
   $("#id_completed_by").addClass( "form-control" );
   $("#id_customer_phone").addClass( "form-control" );
   $("#id_customer_email").addClass( "form-control" );
   $("#id_salesperson_name").addClass( "form-control" );
   $("#id_sbc").addClass( "form-control" );
   $("#id_billing_contact").addClass( "form-control" );
   $("#id_customer_type").addClass( "form-control" );
   $("#id_passthru").addClass( "form-control" );
   $("#id_passthru").bootstrapDualListbox();
   $("#id_electric_rate_class").addClass( "form-control" );
   $("#id_gas_rate_class").addClass( "form-control" );
   $("#id_electric_utility").addClass( "form-control" );
   $("#id_gas_utility").addClass( "form-control" );
   $("#id_utility_account_type").addClass( "form-control" );
   $("#id_customer_description").addClass( "form-control" );
   $("#id_utility_description").addClass( "form-control" );
   $("#id_gas_description").addClass( "form-control" );
   $("#id_utility_pool").addClass( "form-control" );
   $("#id_delivery_type").addClass( "form-control" );
   $("#id_gas_price_plan").addClass( "form-control" );
   $("#id_green").addClass( "form-control" );
   $("#id_electric_price_type").addClass( "form-control" );
   $("#id_zone").addClass( "form-control" );
   $("#id_zone").bootstrapDualListbox();
   $("#id_utility_account_nos").addClass( "form-control" );
   $("#id_electric_description").addClass( "form-control" );
   $("#id_billing_description").addClass( "form-control" );
   $("#id_budget_amount").addClass( "form-control" );
   $("#id_electric_bandwidth_usage").addClass( "form-control" );
   $("#id_gas_bandwidth_usage").addClass( "form-control" );
   $("#id_electric_fixed_rate").addClass( "form-control" );
   $("#id_electric_index_rate").addClass( "form-control" );
   $("#id_gas_fixed_rate").addClass( "form-control" );
   $("#id_gas_index_rate").addClass( "form-control" );
   $("#id_agreement_length").addClass( "form-control" );
   $("#id_contract_start_date").addClass( "form-control" );
   $('#id_contract_start_date').datepicker({'dateFormat': 'mm/dd/yy',
       'maxDate': 3650,
       changeMonth: true,
       changeYear: true,
       });
   $(".docs_table").find('td input:checkbox').next("label") .andSelf() .remove();
   if ($('.docs_table tr').length > 2){
   $('.add-row').hide();
   }
   else{
     $('.add-row').show();
   }
    });
    $('#check-address').on('change', function (e) {
      if ($('#check-address').is(":checked")){
        $("#id_billing_address_line1").val($("#id_service_address_line1").val());
        $("#id_billing_address_line2").val($("#id_service_address_line2").val());
        $("#id_billing_address_city").val($("#id_service_address_city").val());
        $("#id_billing_address_state").val($("#id_service_address_state").val());
        $("#id_billing_address_zip_code").val($("#id_service_address_zip_code").val());
      }else{
        $("#id_billing_address_line1").val("");
        $("#id_billing_address_line2").val("");
        $("#id_billing_address_city").val("");
        $("#id_billing_address_state").val("");
        $("#id_billing_address_zip_code").val("");
      }
    });
        $('.formset_row').formset({
        addText: 'Add New',
        deleteText: 'Remove',
        prefix: 'survey_doc'
    });

     $('.add-row').on('click', function (e) {
      if ($('.docs_table tr').length > 2){
       $('.add-row').hide();
       }
      });

         $('.delete-row').on('click', function (e) {
      if ($('.docs_table tr').length < 10){
       $('.add-row').show();
       }
     });
</script>
<style>
.form-group .btn {
    margin-bottom: 0px;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 50%;
}
   a[class="add-row"]{
    color: darkblue;
    font-size: 125%;
}
   a[class="delete-row"]{
    color: red;
    font-size: 125%
}
</style>
{% endblock %}