{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block body %}
<div class="page-title">
    <div class="title_left">
        <h3>Contract Details</h3>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <br />
                    <section class="content">
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="">
                            <!-- /.box-header -->
                            <div class="box-body">
                                <form method="post" enctype="multipart/form-data">
                                   {% csrf_token %}
                              {% for hidden_field in form.hidden_fields %}
                                {{ hidden_field.errors }}
                                {{ hidden_field }}
                              {% endfor %}
                        <fieldset>
                         <div class="form-row">
                          <div class="form-group col-md-6">
                              1.  <label>Survey completed by: </label>
                              {{ object.survey_completed_by }}
                          </div>
                         </div>
                        </fieldset>
                          <fieldset style="border: 1px;">
                              <legend style="background-color:#867c7c;"><h3 style="color:white; padding-left:15px;">Contract Information</h3></legend>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    2. <label>Account type: </label>
                                      {{ object.account_type }}

                                  </div>
                                 </div>
                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                      3. <label>Agreement Date: </label>
                                      {{ object.agreement_date }}
                                   </div>
                                </div>
                          </fieldset>
                             <br>
                          <fieldset>
                              <legend style="background-color:#867c7c;"><h3 style="color:white; padding-left:15px;">Customer & Billing Information</h3></legend>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                      4. <label>Customer Description: </label>
                                      {{ object.customer_description }}
                                  </div>
                                 </div>
                               <div class="form-row">
                                  <div class="form-group col-md-6">
                                      5. <label>Customer Name: </label>
                                      {{ object.customer_name }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                      6. <label>Salesperson name: </label>
                                      {{ object.salesperson_name }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                      7. <label>Service Address: </label>
                                      <p>{{ object.service_address_line1 }}</p>
                                      <p>{{ object.service_address_line2 }}</p>
                                      <p>{{ object.service_address_city }}</p>
                                      <p>{{ object.service_address_state }}- {{ object.service_address_zip_code }}</p>
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                      8. <label>Billing Address: </label>
                                      <p>{{ object.billing_address_line1 }}</p>
                                      <p>{{ object.billing_address_line2 }}</p>
                                      <p>{{ object.billing_address_city }}</p>
                                      <p>{{ object.billing_address_state }}- {{ object.billing_address_zip_code }}</p>
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                      9. <label>Customer Phone: </label>
                                      {{ object.customer_phone }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    10. <label>Customer Email: </label>
                                       {{ object.customer_email }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                     11. <label>SBC: </label>
                                      {{ object.sbc }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                      12. <label>Customer Type: </label>
                                      {{ object.customer_type }}
                                  </div>
                                 </div>

                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                     13. <label>Billing: </label>
                                      {{ object.billing }}
                                  </div>
                                 </div>


                                 <div class="form-row">
                                  <div class="form-group col-md-4">
                                     14. <label>Door to door: </label>
                                      {{ object.door_to_door }}
                                  </div>
                                 </div>
                          </fieldset>
                          <br>
                          <fieldset>
                              <legend style="background-color:#867c7c;"><h3 style="color:white; padding-left:15px;">Pricing & Utility Information</h3></legend>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                      15. <label>Utility Description: </label>
                                      {{ object.utility_description }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    16. <label>Utility Pool(%): </label>
                                      {{ object.utility_pool }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    17. <label>Rate Class: </label>
                                      {{ object.rate_class }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                      18. <label>Gas Rate Class: </label>
                                      {{ object.gas_rate_class }}
                                  </div>
                                 </div>

                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                      19. <label>Electric Utility: </label>
                                      {{ object.electric_utility }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    20. <label>Gas Utility: </label>
                                      {{ object.gas_utility }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    21. <label>Account Type: </label>
                                      {{ object.utility_account_type }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    22. <label>Account Nos: </label>
                                      {{ object.utility_account_nos }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                      23. <label>Passthru: </label>
                                      {% for p in passthru %}
                                      <p>{{ p.name }}</p>
                                      {% endfor %}
                                  </div>
                                 </div>
                          </fieldset>
                           <br>
                          <fieldset class="form-group col-md-4">
                              <legend style="background-color:#867c7c;"><h3 style="color:white; padding-left:15px;">Gas Information</h3></legend>
                                 <div class="form-row">
                                  <div class="form-group">
                                    24. <label>Commodity Gas: </label>
                                       {{ object.commodity_gas }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group">
                                      25. <label>Delivery Type: </label>
                                      {{ object.delivery_type }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group">
                                      26. <label>Gas Price Plan</label>
                                      {{ object.gas_price_plan }}
                                  </div>
                                 </div>
                          </fieldset>
                          <fieldset>
                              <legend style="background-color:#867c7c;"><h3 style="color:white; padding-left:15px;">Electric Information</h3></legend>

                                 <div class="form-row col-md-6">
                                  <div class="form-group">
                                    27. <label>Electric:</label>
                                        {{ object.electric }}
                                  </div>
                                 </div>
                                 <div class="form-row col-md-6">
                                  <div class="form-group">
                                      28. <label>Green: </label>
                                      {{ object.green }}
                                  </div>
                                 </div>
                                 <div class="form-row col-md-6">
                                  <div class="form-group">
                                      29. <label>Zone: </label>
                                      {% for z in zones %}
                                      <p>{{ z.name }}</p>
                                      {% endfor %}
                                  </div>
                                 </div>
                                 <div class="form-row col-md-6">
                                  <div class="form-group">
                                      30. <label>Electric Price Type: </label>
                                          {{ object.electric_price_type }}
                                  </div>
                                 </div>
                          </fieldset>
                           <br>
                          <fieldset class="form-row col-md-12">
                              <legend style="background-color:#867c7c;"><h3 style="color:white; padding-left:15px;">Commodity Billing Information</h3></legend>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                     31. <label>Therm:</label>
                                          {{ object.therm }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    32. <label>Tax Exempt:</label>
                                      {{ object.tax_exempt }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    33. <label>Monthly Budget:</label>
                                      {{ object.monthly_budget }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                      34. <label>Budget Amount: </label>
                                      {{ object.budget_amount }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                      35. <label>Gas Bandwidth Usage: </label>
                                      {{ object.gas_bandwidth_usage }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                      36. <label>Electric Bandwidth Usage: </label>
                                      {{ object.electric_bandwidth_usage }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                      37. <label>Gas Fixed Rate: </label>
                                      {{ object.gas_fixed_rate }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                      38. <label>Electric Fixed Rate: </label>
                                      {{ object.electric_fixed_rate }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                      39. <label>Gas Index Rate: </label>
                                      {{ form.gas_index_rate }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                      40. <label>Electric Index Rate: </label>
                                      {{ object.electric_index_rate }}
                                  </div>
                                 </div>

                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                      41. <label>Agreement Lenght: </label>
                                      {{ object.agreement_length }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                      42. <label>Contract Start Date: </label>
                                      {{ object.contract_start_date }}
                                  </div>
                                 </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                      43. <label>Document: </label> (Max limit- 3 docs)
                                      {% for d in doc_list %}
                                      <p><a href="/media/{{ d.document }}">{{ d.document }}</a></p>
                                      {% endfor %}
                                  </div>
                                 </div>
                          </fieldset>
                           <br>
                          <!--<fieldset>-->
                              <!--<legend style="background-color:#867c7c;"><h3 style="color:white; padding-left:15px;">Deal Booking - Internal</h3></legend>-->
                                 <!--<div class="form-row">-->
                                  <!--<div class="form-group col-md-6">-->
                                    <!--{{ form.deal_description.label_tag }}-->
                                      <!--<span style="color:red;">{{ form.deal_description.errors }}</span>-->
                                      <!--{{ form.deal_description }}-->
                                      <!--{{ form.deal_description.help_text }}-->
                                  <!--</div>-->
                                 <!--</div>-->
                                 <!--<div class="form-row">-->
                                  <!--<div class="form-group col-md-6">-->
                                   <!--<label for="id_internal_data_available_0">Internal Data Available:</label> <span style="color:red;">*</span>-->
                                    <!--<label for="id_internal_data_available_0"><input type="radio" name="internal_data_available" value="Yes" required id="id_internal_data_available_0" {% if form.instance.id and form.instance.internal_data_available == "Yes" or not form.instance.id %}checked{% endif %}>-->
                                     <!--Yes</label>-->

                                    <!--<label for="id_internal_data_available_1"><input type="radio" name="internal_data_available" value="No" required id="id_internal_data_available_1" {% if form.instance.id and form.instance.internal_data_available == "No" %}checked{% endif %}>-->
                                     <!--No</label>-->
                                  <!--</div>-->
                                 <!--</div>-->
                                 <!--<div class="form-row">-->
                                  <!--<div class="form-group col-md-6">-->
                                    <!--{{ form.utility_service_class.label_tag }} <span style="color:red;">*</span>-->
                                      <!--<span style="color:red;">{{ form.utility_service_class.errors }}</span>-->
                                      <!--{{ form.utility_service_class }}-->
                                      <!--{{ form.utility_service_class.help_text }}-->
                                  <!--</div>-->
                                 <!--</div>-->
                                 <!--<div class="form-row">-->
                                  <!--<div class="form-group col-md-6">-->
                                    <!--{{ form.usage_from_date.label_tag }} <span style="color:red;">*</span>-->
                                      <!--<span style="color:red;">{{ form.usage_from_date.errors }}</span>-->
                                      <!--{{ form.usage_from_date }}-->
                                      <!--{{ form.usage_from_date.help_text }}-->
                                  <!--</div>-->
                                 <!--</div>-->
                                 <!--<div class="form-row">-->
                                  <!--<div class="form-group col-md-6">-->
                                    <!--{{ form.usage_to_date.label_tag }} <span style="color:red;">*</span>-->
                                      <!--<span style="color:red;">{{ form.usage_to_date.errors }}</span>-->
                                      <!--{{ form.usage_to_date }}-->
                                      <!--{{ form.usage_to_date.help_text }}-->
                                  <!--</div>-->
                                 <!--</div>-->
                                 <!--<div class="form-row">-->
                                  <!--<div class="form-group col-md-6">-->
                                    <!--{{ form.broker_margin.label_tag }} <span style="color:red;">*</span>-->
                                      <!--<span style="color:red;">{{ form.broker_margin.errors }}</span>-->
                                      <!--{{ form.broker_margin }}-->
                                      <!--{{ form.broker_margin.help_text }}-->
                                  <!--</div>-->
                                 <!--</div>-->
                                 <!--<div class="form-row">-->
                                  <!--<div class="form-group col-md-6">-->
                                    <!--{{ form.base_icap.label_tag }} <span style="color:red;">*</span>-->
                                      <!--<span style="color:red;">{{ form.base_icap.errors }}</span>-->
                                      <!--{{ form.base_icap }}-->
                                      <!--{{ form.base_icap.help_text }}-->
                                  <!--</div>-->
                                 <!--</div>-->
                                 <!--<div class="form-row">-->
                                  <!--<div class="form-group col-md-6">-->
                                    <!--{{ form.base_trans_tag.label_tag }} <span style="color:red;">*</span>-->
                                      <!--<span style="color:red;">{{ form.base_trans_tag.errors }}</span>-->
                                      <!--{{ form.base_trans_tag }}-->
                                      <!--{{ form.base_trans_tag.help_text }}-->
                                  <!--</div>-->
                                 <!--</div>-->
                                 <!--<div class="form-row">-->
                                  <!--<div class="form-group col-md-6">-->
                                    <!--{{ form.base.label_tag }} <span style="color:red;">*</span>-->
                                      <!--<span style="color:red;">{{ form.base.errors }}</span>-->
                                      <!--{{ form.base }}-->
                                      <!--{{ form.base.help_text }}-->
                                  <!--</div>-->
                                 <!--</div>-->
                                 <!--<div class="form-row">-->
                                  <!--<div class="form-group col-md-6">-->
                                    <!--{{ form.slope.label_tag }} <span style="color:red;">*</span>-->
                                      <!--<span style="color:red;">{{ form.slope.errors }}</span>-->
                                      <!--{{ form.slope }}-->
                                      <!--{{ form.slope.help_text }}-->
                                  <!--</div>-->
                                 <!--</div>-->
                                 <!--<div class="form-row">-->
                                  <!--<div class="form-group col-md-6">-->
                                    <!--{{ form.term_volume.label_tag }} <span style="color:red;">*</span>-->
                                      <!--<span style="color:red;">{{ form.term_volume.errors }}</span>-->
                                      <!--{{ form.term_volume }}-->
                                      <!--{{ form.term_volume.help_text }}-->
                                  <!--</div>-->
                                 <!--</div>-->
                                 <!--<div class="form-row">-->
                                  <!--<div class="form-group col-md-6">-->
                                    <!--{{ form.utilized_term_net_margin.label_tag }} <span style="color:red;">*</span>-->
                                      <!--<span style="color:red;">{{ form.utilized_term_net_margin.errors }}</span>-->
                                      <!--{{ form.utilized_term_net_margin }}-->
                                      <!--{{ form.utilized_term_net_margin.help_text }}-->
                                  <!--</div>-->
                                 <!--</div>-->
                                 <!--<div class="form-row">-->
                                  <!--<div class="form-group col-md-6">-->
                                    <!--{{ form.salesperson_or_team.label_tag }}-->
                                      <!--<span style="color:red;">{{ form.salesperson_or_team.errors }}</span>-->
                                      <!--{{ form.salesperson_or_team }}-->
                                      <!--{{ form.salesperson_or_team.help_text }}-->
                                  <!--</div>-->
                                 <!--</div>-->
                                 <!--<div class="form-row">-->
                                  <!--<div class="form-group col-md-6">-->
                                    <!--{{ form.energy_deal_component.label_tag }}-->
                                      <!--<span style="color:red;">{{ form.energy_deal_component.errors }}</span>-->
                                      <!--{{ form.energy_deal_component }}-->
                                      <!--{{ form.energy_deal_component.help_text }}-->
                                  <!--</div>-->
                                 <!--</div>-->
                                 <!--<div class="form-row">-->
                                  <!--<div class="form-group col-md-6">-->
                                    <!--{{ form.capacity_deal_component.label_tag }}-->
                                      <!--<span style="color:red;">{{ form.capacity_deal_component.errors }}</span>-->
                                      <!--{{ form.capacity_deal_component }}-->
                                      <!--{{ form.capacity_deal_component.help_text }}-->
                                  <!--</div>-->
                                 <!--</div>-->
                                 <!--<div class="form-row">-->
                                  <!--<div class="form-group col-md-6">-->
                                    <!--{{ form.line_looses_deal_component.label_tag }}-->
                                      <!--<span style="color:red;">{{ form.line_looses_deal_component.errors }}</span>-->
                                      <!--{{ form.line_looses_deal_component }}-->
                                      <!--{{ form.line_looses_deal_component.help_text }}-->
                                  <!--</div>-->
                                 <!--</div>-->
                                 <!--<div class="form-row">-->
                                  <!--<div class="form-group col-md-6">-->
                                    <!--{{ form.rec_or_zec.label_tag }}-->
                                      <!--<span style="color:red;">{{ form.rec_or_zec.errors }}</span>-->
                                      <!--{{ form.rec_or_zec }}-->
                                      <!--{{ form.rec_or_zec.help_text }}-->
                                  <!--</div>-->
                                 <!--</div>-->
                                 <!--<div class="form-row">-->
                                  <!--<div class="form-group col-md-6">-->
                                    <!--{{ form.srec.label_tag }}-->
                                      <!--<span style="color:red;">{{ form.srec.errors }}</span>-->
                                      <!--{{ form.srec }}-->
                                      <!--{{ form.srec.help_text }}-->
                                  <!--</div>-->
                                 <!--</div>-->
                                 <!--<div class="form-row">-->
                                  <!--<div class="form-group col-md-6">-->
                                    <!--{{ form.nits.label_tag }}-->
                                      <!--<span style="color:red;">{{ form.nits.errors }}</span>-->
                                      <!--{{ form.nits }}-->
                                      <!--{{ form.nits.help_text }}-->
                                  <!--</div>-->
                                 <!--</div>-->
                                 <!--<div class="form-row">-->
                                  <!--<div class="form-group col-md-6">-->
                                    <!--{{ form.taxes.label_tag }} <span style="color:red;">*</span>-->
                                      <!--<span style="color:red;">{{ form.taxes.errors }}</span>-->
                                      <!--{{ form.taxes }}-->
                                      <!--{{ form.taxes.help_text }}-->
                                  <!--</div>-->
                                 <!--</div>-->
                                 <!--<div class="form-row">-->
                                  <!--<div class="form-group col-md-6">-->
                                    <!--{{ form.swing_rate.label_tag }} <span style="color:red;">*</span>-->
                                      <!--<span style="color:red;">{{ form.swing_rate.errors }}</span>-->
                                      <!--{{ form.swing_rate }}-->
                                      <!--{{ form.swing_rate.help_text }}-->
                                  <!--</div>-->
                                 <!--</div>-->
                                 <!--<div class="form-row">-->
                                  <!--<div class="form-group col-md-6">-->
                                    <!--{{ form.hedge_type.label_tag }}-->
                                      <!--<span style="color:red;">{{ form.hedge_type.errors }}</span>-->
                                      <!--{{ form.hedge_type }}-->
                                      <!--{{ form.hedge_type.help_text }}-->
                                  <!--</div>-->
                                 <!--</div>-->
                                 <!--<div class="form-row">-->
                                  <!--<div class="form-group col-md-6">-->
                                    <!--{{ form.hedge_product_volume.label_tag }} <span style="color:red;">*</span>-->
                                      <!--<span style="color:red;">{{ form.hedge_product_volume.errors }}</span>-->
                                      <!--{{ form.hedge_product_volume }}-->
                                      <!--{{ form.hedge_product_volume.help_text }}-->
                                  <!--</div>-->
                                 <!--</div>-->
                                 <!--<div class="form-row">-->
                                  <!--<div class="form-group col-md-6">-->
                                    <!--{{ form.hedge_price.label_tag }} <span style="color:red;">*</span>-->
                                      <!--<span style="color:red;">{{ form.hedge_price.errors }}</span>-->
                                      <!--{{ form.hedge_price }}-->
                                      <!--{{ form.hedge_price.help_text }}-->
                                  <!--</div>-->
                                 <!--</div>-->
                                 <!--<div class="form-row">-->
                                  <!--<div class="form-group col-md-6">-->
                                    <!--{{ form.estimated_annual_hedge_volume.label_tag }} <span style="color:red;">*</span>-->
                                      <!--<span style="color:red;">{{ form.estimated_annual_hedge_volume.errors }}</span>-->
                                      <!--{{ form.estimated_annual_hedge_volume }}-->
                                      <!--{{ form.estimated_annual_hedge_volume.help_text }}-->
                                  <!--</div>-->
                                 <!--</div>-->
                          <!--</fieldset>-->
                              <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-6">
                                  <a href="{% url 'list_surveys' %}" class='btn btn-primary' >Back</a>
                                </div>
                              </div>
                                <!--<div class="ln_solid"></div>-->
                                </form>
                            </div>
                            <!-- /.box-body -->
                          </div>
                          <!-- /.box -->
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
